.env
vendor
composer.phar

*.log
*.cache
*.tmp

.idea/
.vscode/
nbproject/

.DS_Store

/public/storage
/storage/*.key
/storage/framework/*
/storage/logs/*
/bootstrap/cache/*.php

*.swp
*~
*.bak
*.old

.phpunit.result.cache

coverage/
tests/_output/
test-output/
